#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-image: url("assets/Pokemon-canyon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.app-header, .app-subtitle, .p-4{
  color: rgb(54, 4, 54);
  font-weight: 700;
}

/*.pokemon-display h3{
  grid-column: 1 / -1;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}*/

.pokemon-display h3:first-letter{
  text-transform: capitalize; 
}

.app-subtitle{
font-size: 1.8rem;
}


.pokemon-display {
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .25rem;*/
  width: 250px;        
  margin: 15px auto;   
  color: rgb(54, 4, 54);
  background-color: rgba(207, 190, 190, 0.8);
  font-weight: 700;
  border-radius: 3rem;
  border-color: rgb(54, 4, 54);;
  padding: 1.5rem 1.75rem;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 25px rgb(54, 4, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.pokemon-display img {
  width: 98px;
  height: 98px;
  image-rendering: pixelated;
}

button {
  padding: 10px 14px;
  border-radius: 10px;
  border: 3px solid, turquoise;
  color: turquoise;
  font-size: 18px;
  background-color: rgb(3, 58, 52);
  box-shadow: 0 10px 25px rgb(3, 58, 52);
}

.pokemon-dropdown {
  padding: 10px 14px;
  border-radius: 10px;
  border: 3px solid, turquoise;
  background-color: rgb(3, 58, 52);
  color: turquoise;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  box-shadow: 0 10px 25px rgb(3, 58, 52);
  margin-right: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
